// Setup for using Jest
{
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "testJest"
      ],
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ]
    }
  ]
}